*{
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
}

html, body{
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
}

.header{
    height: 18vh;
    color: rgb(10, 2, 46);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    padding: 10px 0;
}
p{
    margin-bottom: 4px;
}
h2, h3{
    margin: 4px 0;
}
ul{
    padding-left: 1.2rem;
    margin: 2px 0;
}
hr{
    margin: 4px 0;
    border-top: 1px solid #ddd;
}
#img_holder{
    width: 120px;
    height: 120px;
    margin-top: 0.6rem;
    border-radius: 50%;
    border: 7px solid rgb(0, 0, 54);
    background-color: rgb(3, 88, 163);
    overflow: hidden;
    object-fit: fill;
    position:relative;
    z-index: 2;
}
#img_holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.content{
    height: 5rem;
    width: 70%;
    position:relative;
    z-index: 1;
    margin-left: -50px;
    flex-grow: 1;
    background-color: rgb(3, 88, 163);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.maincontent{
    display: flex;
    gap: 10px;
    overflow: hidden
}
.left{
    width: 25%;
    color: black;
    flex: 1;
    margin-left: 1rem;
    padding-right: 0.5rem;
    border-right: 2px solid rgb(126, 126, 126);
}
.right{
    width: 75%;
}
footer {
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 0.85rem;
  background-color: #f4f4f4; 
  border-top: 1px solid #ccc;
}